.tag {
  border-radius: 12px;
  height: 24px;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  padding: 0 10px;
}

.icon {
  margin-right: 5px;
}

.disabled {
  opacity: 0.5;
  cursor: default;
}

.removable {
  margin-right: -5px;
  margin-left: 5px;
}

.primary {
  color: var(--light-text);
  background-color: var(--primary);
  border: none;
}
.primary:hover {
  background-color: var(--primary-dark-1);
}
.primary:focus {
  background-color: var(--primary-dark-2);
}

.secondary {
  color: var(--primary);
  background-color: var(--primary-light-3);
  border: 1px solid var(--primary-light-2);
}
.secondary:hover {
  background-color: var(--primary-light-2);
  border: 1px solid var(--primary-light-1);
}
.secondary:focus {
  background-color: var(--primary-light-1);
  border: 1px solid var(--primary-light-1);
}

.plain {
  color: var(--dark-text-light-1);
  background: none;
  border: none;
}
.plain:hover {
  background-color: var(--light-text-dark-1);
}
.plain:focus {
  background-color: var(--light-text-dark-2);
}

.outline {
  color: var(--dark-text-light-1);
  background: none;
  border: 1px solid var(--light-text-dark-2);
}
.outline:hover {
  background-color: var(--light-text-dark-1);
}
.outline:focus {
  background-color: var(--light-text-dark-2);
}

.dark {
  color: var(--light-text);
  background-color: var(--dark-text-light-1);
  border: none;
}
.dark:hover {
  background-color: var(--dark-text);
}
.dark:focus {
  background-color: var(--dark-text);
}

.light {
  color: var(--dark-text-light-1);
  background-color: var(--light-text);
  border: none;
}
.light:hover {
  background-color: var(--light-text-dark-1);
}
.light:focus {
  background-color: var(--light-text-dark-1);
}

.info {
  color: var(--light-text);
  background-color: var(--info);
  border: none;
}

.warning {
  color: var(--light-text);
  background-color: var(--warning);
  border: none;
}

.error {
  color: var(--light-text);
  background-color: var(--error);
  border: none;
}

.success {
  color: var(--light-text);
  background-color: var(--success);
  border: none;
}
