.button {
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
}

.button:hover {
  opacity: 0.7;
}

.button.noLabel {
  padding: 6px;
}

.button.sm {
  height: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.button.md {
  height: 34px;
  padding-left: 17px;
  padding-right: 17px;
}

.button.lg {
  height: 38px;
  padding-left: 19px;
  padding-right: 19px;
}

.loading {
  opacity: 0;
}

.loadingContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  margin-right: 5px;
}

.icon.noLabel {
  margin-right: 0px;
}

.disabled {
  opacity: 0.7;
  cursor: default;
}

.solid {
  border: none;
}

.solid.primary {
  background-color: var(--primary);
}

.solid.secondary {
  background-color: var(--secondary);
}

.solid.light {
  background-color: var(--light);
}

.solid.dark {
  background-color: var(--dark);
}

.solid.info {
  background-color: var(--info);
}

.solid.warning {
  background-color: var(--warning);
}

.solid.error {
  background-color: var(--error);
}

.solid.success {
  background-color: var(--success);
}

.outline {
  background: transparent;
}

.outline.primary {
  border: 1px solid var(--primary);
}

.outline.secondary {
  border: 1px solid var(--secondary);
}

.outline.light {
  border: 1px solid var(--light);
}

.outline.dark {
  border: 1px solid var(--dark);
}

.outline.info {
  border: 1px solid var(--info);
}

.outline.warning {
  border: 1px solid var(--warning);
}

.outline.error {
  border: 1px solid var(--error);
}

.outline.success {
  border: 1px solid var(--success);
}
