.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

.light {
  color: var(--light);
}

.dark {
  color: var(--dark);
}

.info {
  color: var(--info);
}

.warning {
  color: var(--warning);
}

.error {
  color: var(--error);
}

.success {
  color: var(--success);
}

.sm {
  
}

.md {
  
}

.lg {
  
}
