.primary {
  color: var(--primary);
}

.secondary {
  color: var(--primary-light-1);
}

.light {
  color: var(--light-text);
}

.dark {
  color: var(--dark-text);
}

.info {
  color: var(--info);
}

.warning {
  color: var(--warning);
}

.error {
  color: var(--error);
}

.success {
  color: var(--success);
}

.sm {
  width: 16px;
  height: 16px;
}

.md {
  width: 20px;
  height: 20px;
}

.lg {
  width: 24px;
  height: 24px;
}

.backdrop {
  border-radius: 50%;
  background-color: var(--primary-light-3);
}

.backdrop.sm {
  padding: 4px;
}

.backdrop.md {
  padding: 5px;
}

.backdrop.lg {
  padding: 6px;
}
