@import-normalize; /* bring in normalize.css styles */

:root {
  --primary: rgb(18, 201, 173);
  --primary-trans: rgba(18, 201, 173, 0.1);
  --secondary: rgb(55, 65, 81);
  --secondary-trans: rgba(55, 65, 81, 0.1);
  --light: rgb(229, 231, 235);
  --light-trans: rgba(229, 231, 235, 0.1);
  --dark: rgb(38, 38, 38);
  --dark-trans: rgba(38, 38, 38, 0.1);
  --info: rgb(37, 99, 235);
  --info-trans: rgba(37, 99, 235, 0.1);
  --warning: rgb(217, 119, 6);
  --warning-trans: rgba(217, 119, 6, 0.1);
  --error: rgb(220, 38, 38);
  --error-trans: rgba(220, 38, 38, 0.1);
  --success: rgb(5, 150, 105);
  --success-trans: rgba(5, 150, 105, 0.1);
  --text-light: white;
  --text-dark: #222;
}

.themeFont {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.textReset {
  composes: themeFont;
  margin: 0px;
  padding: 0px;
}
