@import-normalize; /* bring in normalize.css styles */

:root {
  --primary-dark-2: #002F9A;
  --primary-dark-1: #003ECB;
  --primary: #0057FF;
  --primary-light-1: #B7CDFF;
  --primary-light-2: #DEE8FF;
  --primary-light-3: #F5F8FF;
  
  --light-text-dark-2: #E4E4E4;
  --light-text-dark-1: #F1F1F1;
  --light-text: #FFFFFF;
  --dark-text: #191919;
  --dark-text-light-1: #595D69;
  --dark-text-light-2: #A2A7B6;
  --dark-text-light-3: #CBCFDB;
  
  --light-background-dark-2: #F2F2F2;
  --light-background-dark-1: #F9F9F9;
  --light-background: #FFFFFF;
  --dark-background: #18191A;
  
  --info: #8BAAB7;
  --warning: #FFBC58;
  --error: #FF5858;
  --success: #53E09A;
}

.themeFont {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.textReset {
  composes: themeFont;
  margin: 0px;
  padding: 0px;
}
