.toggle {
  position: relative;
  display: inline-block;
}

.sm {
  height: 16px;
  width: 28px;
}

.md {
  height: 20px;
  width: 36px;
}

.lg {
  height: 24px;
  width: 42px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle input:checked + span {
  background-color: var(--primary);
}

.toggle.sm input:checked + span:before {
  -webkit-transform: translateX(11px);
  -ms-transform: translateX(11px);
  transform: translateX(11px);
}

.toggle.md input:checked + span:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

.toggle.lg input:checked + span:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}

.toggle span {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 20px;
}

.toggle.light span {
  background-color: #ddd;
}

.toggle.dark span {
  background-color: #666;
}

.toggle span:before {
  position: absolute;
  content: '';
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.15);
}

.toggle.sm span:before {
  height: 8px;
  width: 8px;
  left: 5px;
  bottom: 4px;
}

.toggle.md span:before {
  height: 10px;
  width: 10px;
  left: 6px;
  bottom: 5px;
}

.toggle.lg span:before {
  height: 12px;
  width: 12px;
  left: 7px;
  bottom: 6px;
}
